.hero {
  min-height: 80vh;
}

.hero_left {
  width: 55%;
  /* background-color: #2e1e90; */
}

.hero_left h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero_left h2 span {
  color: #51329e;
}

.hero_left p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: justify;
  color: #ffffff;
  opacity: 0.9;
}

.hero_right {
  width: 40%;
  height: 50vh;
  position: relative;
  /* background-color: #379e32; */
}

.hire {
  position: fixed;
  bottom: 30px;
  right: 40px;
  background-color: #51329e;
  transition: all 1.5s ease-in-out;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px;
  font-size: 0.8rem;
  z-index: 100;
  box-shadow: 1px 1px 1px #973488;
}

.hire:hover {
  background-color: #973488;
  box-shadow: 1px 1px 1px #51329e;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero_left {
    width: 100%;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .hero_right {
    width: 100%;
    
  
  }

  .hero_left h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 480px) {
  .hero_left h2 {
    font-size: 2rem;
  }
}
